{% extends "profile/profile_update.html" %}
{% block profile_heading %}
    <div class="profile-picture-wrapper delete">
        <img onclick="getProfilePicture()" id="profile_image" src="{{ profile.profile_picture.url }}" alt="profile">
        <div class="greeting profile">
            <h1>Delete {{ request.user.username }}</h1>
        </div>
        {{ form.profile_picture }}
    </div>
{% endblock %}
{% block submit_button %}
    <input type="submit" class="btn btn-primary profile delete" value="CONFIRM DELETION">
{% endblock %}