{% extends "core/base.html" %}
{% block page-title %}
    <title>Available Exercises</title>
{% endblock %}
{% block main-content %}
    <main class="main list-food">

        {% include "core/search_bar.html" %}

        {% for current_exercise in exercises %}
            <a class="btn add-food list-food" href="{% url "log exercise" current_exercise.pk diary_pk %}">
                <label class="food-name list-food">
                    {{ current_exercise.name }}
                </label>
                <label class="food-macros list-food">
                    {{ current_exercise.burned_calories_per_unit }} cals per {{ current_exercise.unit }}
                </label>
            </a>
        {% endfor %}
    </main>
{% endblock %}
