export SECRET_KEY=django-insecure-example-secret-key
export ALLOWED_HOSTS="localhost 127.0.0.1"
export CSRF_TRUSTED_ORIGINS="http://localhost http://127.0.0.1"
export DEBUG=True
export DB_NAME=example_db
export DB_USER=example_user
export DB_PASSWORD=example_password
export DB_PORT=5432
export DB_HOST=127.0.0.1
export OPEN_FOOD_REPO_API_KEY=example_open_food_repo_api_key
export CLOUDINARY_CLOUD_NAME=example_cloudinary_cloud_name
export CLOUDINARY_API_KEY=example_cloudinary_api_key
export CLOUDINARY_API_SECRET=example_cloudinary_api_secret
