{% extends "core/base_auth.html" %}
{% load socialaccount %}

{% block title %}
    <title>Sign In</title>
{% endblock %}
{% block main %}
    <div class="form-wrapper">
        <form action="{% url "sign in" %}" method="post" class="auth-form">
            <div class="nav-wrapper auth">
                <a href="{% url "sign in" %}" class="heading-register">
                    <i class="fas fa-key"></i>
                    Sign In
                </a>
                <a href="{% url "sign up" %}" class="heading-login">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    Sign Up
                </a>
            </div>
            {% csrf_token %}

            <fieldset class="form-control-wrapper auth">
                <legend id="id_username_legend" hidden="hidden" >Email address or username</legend>
                {{ form.username }}
            </fieldset>
            <fieldset class="form-control-wrapper auth">
                <legend id="id_password_legend" hidden="hidden" >Password</legend>
                {{ form.password }}
            </fieldset>

            {% for error in form.errors.values %}
                {{ error }}
            {% endfor %}

            <input type="submit" class="btn btn-primary auth" value="Sign In">
        </form>

        <form  class="auth-form" action="{% provider_login_url 'google' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary auth google">
                <i class="fa-brands fa-google"></i> Sign in with Google
            </button>
        </form>
    </div>
{% endblock %}