{% extends "core/base_user_update.html" %}
{% block update-password %}
    <div class="greeting profile">
        {% if profile.is_admin %}
            <a class="btn btn-primary food" href="{% url "staff" 0 %}">
                STAFF
            </a>
        {% elif not profile.is_staff and not profile.requested_staff %}
            <a class="btn btn-primary food" href="{% url "profile become staff" %}">
                BECOME STAFF
            </a>
        {% elif not profile.is_staff and profile.requested_staff %}
            <label class="btn btn-primary food">
                WAITING FOR STAFF APPROVAL

            </label>
        {% endif %}
        <a class="btn btn-primary food" href="{% url "update user password" %}">
            UPDATE PASSWORD
        </a>
    </div>
{% endblock %}
{% block form-data %}

    {{ form.username }}
    {{ form.username.errors }}
    {{ form.email }}
    {{ form.email.errors }}

{% endblock %}