{% extends "core/base.html" %}
{% block page-title %}
    <title>Available Food</title>
{% endblock %}
{% block main-content %}
    <main class="main list-food">

        {% include "core/search_bar.html" %}

        {% for current_food in food %}
            <a class="btn add-food list-food" href="{% url "food" current_food.id diary_pk meal_type %}">
                <label class="food-name list-food">
                    {{ current_food.name }}
                </label>
                <label class="food-macros list-food">
                    Cal: {{ current_food.energy }}cal /
                    P {{ current_food.protein }}g /
                    C {{ current_food.carbs }}g /
                    F {{ current_food.fat }}g
                </label>
            </a>
        {% endfor %}
    </main>
{% endblock %}
