{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    {% block page-title %}
        <title>Main</title>
    {% endblock %}
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href={% static "core/bootstrap/assets/favicon.ico" %}/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link type="text/css" href={% static "core/bootstrap/css/styles.css" %} rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/a866a01a60.js" crossorigin="anonymous"></script>

    <link type="text/css" rel="stylesheet" href={% static "core/css/styles.css" %}>

</head>

<body {% block body-attrs %}{% endblock %}>
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">
            <div class="username">
                <div onclick="location.href='{% url "profile details" %}'" class="profile-picture-wrapper base">
                    <img src="{{ request.user.profile.profile_picture.url }}" alt="profile">
                </div>
                <p>
                    Welcome, {{ request.user.username }}!
                </p>
            </div>
        </div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url "home" %}">
                <i class="fa-solid fa-house-chimney"></i>
                Home
            </a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3"
               href="{% url "profile diary" %}">
                <i class="fa-solid fa-book"></i>
                Diary
            </a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3"
               href="{% url "profile nutrients" %}">
                <i class="fa-solid fa-chart-pie"></i>
                Nutrition
            </a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3"
               href="{% url "list user food" %}">
                <i class="fa-solid fa-carrot"></i>
                Food
            </a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3"
               href="{% url "list user exercises" %}">
                <i class="fa-solid fa-dumbbell"></i>
                Exercises
            </a>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div class="page-content-wrapper" id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <button class="btn btn-primary" id="sidebarToggle">
                    Menu
                </button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url "home" %}">
                                Home
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url "sign out" %}">
                                    Log Out
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="https://github.com/4um3n/open_fitness_calculator">
                                    Git
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid-custom">
            {% block heading %}
            {% endblock %}

            {% block main-content %}
            {% endblock %}

            {% block footer %}
            {% endblock %}

        </div>
    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/static/core/bootstrap/js/scripts.js"></script>
</body>

</html>