{% load static %}

<!DOCTYPE html>
<html lang="en" class="auth">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title></title>
    {% endblock %}
    <link type="text/css" rel="stylesheet" href={% static "core/css/styles.css" %}>
    <script src="https://kit.fontawesome.com/a866a01a60.js" crossorigin="anonymous"></script>
    <script src="/static/fitness_calculator_auth/js/auth.js"></script>
</head>
<body class="auth">
<heading>
    {% include "core/navigation_auth.html" %}
</heading>
{% block main %}
{% endblock %}
</body>
</html>
