@media only screen and (min-device-width: 300px) and (max-device-width: 900px) {
    .heading.profile-nutrition {
        min-width: auto !important;
    }

    .nav.profile-nutrition {
        min-width: auto !important;
    }

    .nav-item-heading {
        font-size: 25px !important;
    }

    .paginator-wrapper {
        min-width: auto !important;
    }

    .btn.btn-primary.reload-nutrition {
        font-size: 14px !important;
    }

    .fa-arrows-rotate,
    .fa-delete-left {
        font-size: 12px;
    }
}

.heading.profile-nutrition {
    min-width: 450px;
}

.nav.profile-nutrition {
    min-width: 450px;
    justify-content: center;
}

.nav-list {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.nav-item.profile {
    text-align: center;
    width: 33.3%;
}

.nav-item-heading {
    font-size: 30px;
}

.nav-item.profile.active {
    border-bottom: 2px solid rgba(0, 76, 120, 1);
}

.nav-link.profile {
    width: 100%;
    height: 100%;
    padding: 0;
}

.buttons.paginator-nav {
    width: 40px;
    min-width: 40px;
    max-width: 40px;
}

.buttons.paginator-nav.right {
    flex-direction: row-reverse;
}

.diary-link {
    text-decoration: none;
}

.nav-item-heading {
    margin: 10px;
}

.paginator-wrapper {
    font-size: 18px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    min-width: 450px;
    margin: 10px 0;
    padding: 0 10px;
    width: 100%;
}

.current-page-title {
    box-sizing: content-box;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    width: fit-content;
    max-width: 180px;
    font-size: 21px;
    margin: 0 auto;
}

.diary-delete-form {
    display: inline-block;
    width: fit-content;
    margin: 0;
}

.nav-nutrient-name {
    text-transform: uppercase;
    line-height: 0.8;
    white-space: nowrap;
    font-size: 25px;
    margin: 0 10px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.btn.btn-primary.reload-nutrition {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 4px 5px 4px 4px;
    height: fit-content;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 4px;
}

.fa-arrows-rotate,
.fa-delete-left {
    font-size: 18px;
}